#loader
  img(src='/images/ajax-loader.gif')

each jiraItem in jiraList
  li
    a(href=jiraItem.url, target='_blank')
      if jiraItem.assignee
        | #{jiraItem.assignee} ==> 
      | [#{jiraItem.status}] #{jiraItem.id} - #{jiraItem.name}

      if jiraItem.newSupport
        span.blinkblink.red  (NEW)